* {
    box-sizing: border-box;
}

body {
    background: white;
}

header {
    background: #1e991a;
    float             :left;
    height            :95px;
    margin            :0;
    width             :100%;
    color: #2D2020;
}

.productDiv {
    display: block;
    cursor: pointer;
    width: 150px;
    height: 200px;
    float: left;
    margin-left: 20px;
    font-size: 12px;
    text-transform: uppercase;
    text-align: center;
    box-sizing: border-box;
    position: relative;
}

.products div{
    margin-top: 40px;
}

.cart-btn{
    display: inline;
    border-radius: 15%;
    text-align: end;
}

.cart-toggle{
    border-radius: 50%;
    border: none;
    background: #FF6A00 url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/148866/cd-cart.svg) no-repeat center center;
    width: 80px;
    height: 80px;
    position: absolute;
    right: 15px;
    top: 15px;
    cursor: pointer;
}

table {
    font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
    font-size: 14px;
    border-spacing: 0;
    text-align: center;
    border: none;
}
th {
    background: white;
    color: gray(35%);
    text-shadow: 0 1px 1px #2D2020;
    padding: 10px 20px;
}
th, td {
    border-style: solid;
    border-width: 0 1px 1px 0;
    border-color: grey;

    border-right: none;
}
th:first-child, td:first-child {
    text-align: left;
}

th:last-child {
    border-right: none;
}
td {
    padding: 10px 20px;
}

tr td:last-child {
    border-right: none;
}

.td-button {
    padding: 10px 20px;
    background: none;
    border: none;
    border: none;
}

.edit{
    border: none;
    border-radius: 10px;
    font-size: 14px;
    padding: 5px 30px;
    background: white;
    color: darkslategray;
}

.delete{
    border: none;
    border-radius: 10px;
    font-size: 14px;
    padding: 5px 25px;
    background: white;
    color: darkslategray;
}

.form-radio
{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    display: inline-flex;
    position: relative;
    background-color: #f1f1f1;
    color: #666;
    top: 10px;
    height: 30px;
    width: 20px;
    border: 0;
    border-radius: 50px;
    cursor: pointer;
    margin-right: 7px;
    outline: none;
}
.form-radio:checked::before
{
    position: absolute;
    font: 13px/1 'Open Sans', sans-serif;
    left: 11px;
    top: 7px;
    content: '\02143';
    transform: rotate(40deg);
}
.form-radio:hover
{
    background-color: #f7f7f7;
}
.form-radio:checked
{
    background-color: #f1f1f1;
}
label
{
    font: 15px/1.7 'Open Sans', sans-serif;
    color: #333;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    cursor: pointer;
}
