* {
    box-sizing: border-box;
}

body {
    background: #008500;
}

.form {
    position: fixed; top: 50%; left: 50%;
}

.decor {
    position: relative;
    max-width: 400px;
    margin: 50px auto 0;
    background: white;
    border-radius: 30px;
}

.form-left-decoration,
.form-right-decoration {
    content: "";
    position: absolute;
    width: 50px;
    height: 20px;
    background: #008500;
    border-radius: 20px;
}

.form-left-decoration {
    bottom: 60px;
    left: -30px;
}

.form-right-decoration {
    top: 60px;
    right: -30px;
}

.form-left-decoration:before,
.form-left-decoration:after,
.form-right-decoration:before,
.form-right-decoration:after {
    content: "";
    position: absolute;
    width: 50px;
    height: 20px;
    border-radius: 30px;
    background: white;
}

.form-left-decoration:before {
    top: -20px;
}

.form-left-decoration:after {
    top: 20px;
    left: 10px;
}

.form-right-decoration:before {
    top: -20px;
    right: 0;
}

.form-right-decoration:after {
    top: 20px;
    right: 10px;
}

.circle {
    position: absolute;
    bottom: 80px;
    left: -55px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: white;
}

.form-inner {
    padding: 50px;
}

.form-inner input,
.form-inner textarea {
    display: block;
    width: 100%;
    padding: 0 20px;
    margin-bottom: 10px;
    background: #E9EFF6;
    line-height: 40px;
    border-width: 0;
    border-radius: 20px;
    font-family: 'Roboto', sans-serif;
}

.form-inner input[type="submit"] {
    margin-top: 30px;
    background: #FF6A00;
    border-bottom: 4px solid #A64500;
    color: white;
    font-size: 14px;
}

.form-inner a {
    margin-top: 30px;
    color: #707981;
    font-size: 14px;
}

.form-inner textarea {
    resize: none;
}

.form-inner h3 {
    margin-top: 0;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 24px;
    color: #707981;
}

.form-inner h4 {
    margin-top: 0;
    margin-bottom: 0;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 14px;
    color: #d87d56;
}

table {
    font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
    font-size: 14px;
    border-spacing: 0;
    text-align: center;
    border: none;
}
th {
    background: #36D88A;
    color: white;
    text-shadow: 0 1px 1px #2D2020;
    padding: 10px 20px;
}
th, td {
    border-style: solid;
    border-width: 0 1px 1px 0;
    border-color: white;
}
th:first-child, td:first-child {
    text-align: left;
}

th:last-child {
    border-right: none;
}
td {
    padding: 10px 20px;
    background: #F8E391;
}

tr td:last-child {
    border-right: none;
}

.td-button {
    padding: 10px 20px;
    background: none;
    border: none;
    border: none;
}

.edit{
    border: none;
    border-radius: 10px;
    font-size: 14px;
    padding: 5px 30px;
    background: white;
    color: darkslategray;
}

.delete{
    border: none;
    border-radius: 10px;
    font-size: 14px;
    padding: 5px 25px;
    background: white;
    color: darkslategray;
}

.form-radio
{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    display: inline-flex;
    position: relative;
    background-color: #f1f1f1;
    color: #666;
    top: 10px;
    height: 30px;
    width: 20px;
    border: 0;
    border-radius: 50px;
    cursor: pointer;
    margin-right: 7px;
    outline: none;
}
.form-radio:checked::before
{
    position: absolute;
    font: 13px/1 'Open Sans', sans-serif;
    left: 11px;
    top: 7px;
    content: '\02143';
    transform: rotate(40deg);
}
.form-radio:hover
{
    background-color: #f7f7f7;
}
.form-radio:checked
{
    background-color: #f1f1f1;
}
label
{
    font: 15px/1.7 'Open Sans', sans-serif;
    color: #333;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    cursor: pointer;
}
