* {
    box-sizing: border-box;
}

body {
    background: white;
}

header {
    overflow: hidden;
    background-color: #1e991a;
    color: #2D2020;
    height: 95px;
}

.productDiv {
    display: block;
    cursor: pointer;
    width: 150px;
    height: 200px;
    float: left;
    margin-left: 20px;
    font-size: 12px;
    text-transform: uppercase;
    text-align: center;
    box-sizing: border-box;
    position: relative;
}

.products div {
    margin-top: 40px;
}

.cart-btn {
    display: inline;
    border-radius: 15%;
    text-align: end;
}

.cart-toggle {
    border-radius: 50%;
    border: none;
    background: #FF6A00 url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/148866/cd-cart.svg) no-repeat center center;
    width: 80px;
    height: 80px;
    position: absolute;
    right: 15px;
    top: 15px;
    cursor: pointer;
}

table {
    font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
    font-size: 14px;
    border-spacing: 0;
    text-align: center;
    border: none;
}

th {
    background: white;
    color: #333333;
    padding: 10px 20px;
}

th, td {
    border-style: solid;
    border-width: 0 1px 1px 0;
    border-color: grey;
    border-right: none;
}

th:first-child, td:first-child {
    text-align: left;
}

th:last-child {
    border-right: none;
}

td {
    padding: 10px 20px;
}

tr td:last-child {
    border-right: none;
}

.td-button {
    padding: 10px 20px;
    background: none;
    border: none;
}

.add {
    border-radius: 10px;
    border-color: #1e991a;
    font-size: 14px;
    padding: 5px 30px;
    background: white;
    color: darkslategray;
    cursor: pointer;
}

.edit {
    border-radius: 10px;
    border-color: #FF6A00;
    font-size: 14px;
    padding: 5px 30px;
    background: white;
    color: darkslategray;
    cursor: pointer;
}

.delete {
    border-radius: 10px;
    border-color: red;
    font-size: 14px;
    padding: 5px 25px;
    background: white;
    color: darkslategray;
    cursor: pointer;
}

.error h3 {
    width: 100%;
    background: #ff9e9b;
    text-align: center;
    color: darkred;
}
